configuration {
	color-normal: "argb:031d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9";
	color-urgent: "argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9";
	color-active: "argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9";
	color-window: "argb:d42d303b, #7c8389, #1d1f21";
	width: 100;
	lines: 5;
	padding: 400;
	eh: 1;
	separator-style: "solid";
	hide-scrollbar: true;
	fullscreen: true;
}

